* {
    margin: 0;
    padding: 0;
}
 
 body {
     font-family: Verdana, Geneva, Tahoma, sans-serif;
 }

 .parteSopra {
    display: inline-block;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 10px;
}
 .parteSopra h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
}

.parteSopra h3 {
    margin-top: 10px;
    margin-bottom: 20px;
}

.parteSopra input {
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    line-height: 20px;
}

.parteSopra #button {
    background-color: aqua;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100px;
    height: 40px;
    border-radius: 10px;
}

.card {
  /* Add shadows to create the "card" effect */
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color: rgb(23, 219, 219);
}

/* Add some padding inside the card container */
.container {
    border-style:initial;
    display: inline-block;
    padding: 2px 16px;
    
}


.card .container h4 {
    color: cadetblue;
}